@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="centered">
        <h1>Welcome to WeekWorth!</h1>
        <p></p>
        <p>Aren't you sick and tired of forgetting what you ate during the week? Wouldn't you like to be able to re-use the same ingredients to make meals based on your dietary needs? Maybe you've started a new diet and have no idea what you should eat?</p>
        <p></p>
        <p>Well, you're in luck! At WeekWorth, we have created this app to fit your specific needs. We will provide you with a list of different recipes based on your diet, food allergies, and foods you would like to exclude from your meal. If you enjoyed that recipe, you can add it to your favorites. You can also view that list of favorite recipes. Another feature we have included is you're able to view your meal plan history, which will show what you ate throughout the course of the week! We hope that you enjoy your visit to WeekWorth!</p>
    </div>
</div>