@model AHBCFinalProject.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<div class="container">
    <img src="https://live.staticflickr.com/65535/49224599768_b56ace7661_o.jpg" id="bg" alt="bg_img" style="height: 100%; width: 100%;" />
    <div class="centered">
        <h2>@ViewData["Title"].</h2>
        <p class="text-success">@ViewData["StatusMessage"]</p>

        <div>
            <h4>Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    @if (Model.HasPassword)
                    {
                        <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
                    }
                    else
                    {
                        <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
                    }
                </dd>
            </dl>
        </div>
    </div>
</div>

