@using Microsoft.AspNetCore.Authentication

@model AHBCFinalProject.AccountViewModels.LoginViewModel
@inject IAuthenticationSchemeProvider SchemeProvider

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    @*<img src="https://live.staticflickr.com/65535/49224599768_b56ace7661_o.jpg" id="bg" alt="bg_img" style="height: 100%; width: 100%;" />*@                
    <div class="centered">
        <h2 >@ViewData["Title"].</h2>
        <hr />
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="Email"></label>
                <div class="col-md-12">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <label asp-for="Password"></label>
                <div class="col-md-12">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
         
                <hr />
                <div>
                    <label asp-for="RememberMe" class="checkbox">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                    <button type="submit" class="btn btn-outline-secondary btn-sm">Log in</button>
                </div>
        
                <ul style="list-style: none; margin:0; padding:0">
                    <li><a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-success">Create an account</a></li>
                    <li><a asp-action="ForgotPassword" class="text-success">Forgot your password?</a></li>
                </ul>
                      
            </form>

        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
    </div>
</div>
