@model FavoriteMealsViewModel

@{
    ViewData["Title"] = "AddToFavorites";
}

<h1>Favorite Meals</h1>

<div>
    <table>
        <thead>
            <tr>
              


            </tr>
        </thead>
        <tbody>
            @foreach (var favMeal in Model.FavoriteMeals)
            {
                <tr>

                    <td>
                        <a asp-controller="User" asp-action="ViewFavoriteMeal" asp-route-id="@favMeal.RecipeID">@favMeal.MealName</a>

                    </td>

                </tr>
            }
        </tbody>
    </table>


</div>

