@model UpdateUserViewModel

@{
    ViewData["Title"] = "ViewUserPreferences";
}

<div class="container">
    <div class="centered">

        <h2>User Preferences</h2>

        <h5>Diets</h5>
        @if (Model.Diet.Any())
        {
            <ul style="list-style:none; padding:0px">
                @foreach(var diet in Model.Diet)
                {
                    <li>@diet</li>
                }
            </ul>
        }
        else
        {
            <p class="text-muted">None</p>
        }
        

        <h5>Intolerances</h5>
        @if (Model.Intolerances.Any())
        {
            <ul style="list-style:none; padding:0px">
                @foreach(var intolerance in Model.Intolerances)
                {
                    <li>@intolerance</li>
                }
            </ul>
        }
        else
        {
            <p class="text-muted">None</p>
        }

        <h5>Excluded Ingredients</h5>
        @if (Model.ExcludedIngredients.Any())
        {
            <ul style="list-style:none; padding:0px">
                @foreach(var excluded in Model.ExcludedIngredients)
                {
                    <li>@excluded</li>
                }
            </ul>
        }
        else
        {
            <p class="text-muted">None</p>
        }

        <a asp-controller="User" asp-action="SetUserPreferences" asp-route-id="@Model.UserId">
            <button type="submit" class="btn btn-outline-secondary btn-sm">Update User Preferences</button>
        </a>
    </div>
</div>