
@{
    ViewData["Title"] = "Error";
}


    <div>
        @*<h2 class="text-danger">Sorry, but there were no records of meals found for the selected date</h2>*@
        <p class="text-center"><img src="https://live.staticflickr.com/65535/49207356781_03ccc94c1a_k.jpg" alt="400Error" width="900" height="900" align="middle"></p>
        
        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index" role="button">Back To Main</a>

    </div>
