
@{
    ViewData["Title"] = "Error";
}


<div>

    <p class="text-center"><img src="https://live.staticflickr.com/65535/49207160926_b567fb6300_k.jpg" alt="400Error" width="900" height="900" align="middle"></p>

    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index" role="button">Back to Main</a>
    <a class="btn btn-outline-primary" asp-controller="User" asp-action="SearchMealPlanHistory" role="button">Search for Meal Plan History</a>

</div>