@model FavoriteMealsViewModel

@{
    ViewData["Title"] = "FavoriteMealsView";
}

    <div class="container">
        <img src="https://live.staticflickr.com/65535/49224599768_b56ace7661_o.jpg" id="bg" alt="bg_img" style="height: 100%; width: 100%;" />
        <div class="centered">
            <h1>Favorite Meals</h1>

            <div class="dropdown">
                <button class="dropbtn">Ready in minutes...</button>
                <div class="dropdown-content">
                    <a asp-controller="User" asp-action="FMReadyIn30Min">Ready In 30Min</a>
                    <a asp-controller="User" asp-action="FMReadyIn1Hrs">Ready In 1Hr</a>
                    <a asp-controller="User" asp-action="FMReadyIn1To2Hrs">Ready In 1 to 2Hrs</a>
                    <a asp-controller="User" asp-action="FMReadyInMoreThan2Hrs">Ready In 2Hrs or More</a>
                </div>
            </div>

            <div>
                <table>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var favMeal in Model.FavoriteMeals)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="User" asp-action="ViewFavoriteMeal" asp-route-id="@favMeal.RecipeID">@favMeal.MealName</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
