@model AHBCFinalProject.Models.UserPreferencesViewModel

@{
    ViewData["Title"] = "SetUserPreferences";
}

<div class="container">
    <div class="centered">
        <h1>Set your preferences!</h1>

        <form asp-controller="User" asp-action="UpdateUserPreferences">
            <h4>Are you on any of these common diets?</h4>

            <input asp-for="GlutenFree" value="True"> Gluten Free
            <br />
            <input asp-for="Ketogenic" value="True"> Ketogenic
            <br />
            <input asp-for="Vegetarian" value="True"> Vegetarian
            <br />
            <input asp-for="LactoVegetarian" value="True"> Lacto-Vegetarian
            <br />
            <input asp-for="OvoVegetarian" value="True"> Ovo-Vegetarian
            <br />
            <input asp-for="Vegan" value="True"> Vegan
            <br />
            <input asp-for="Pescetarian" value="True"> Pescetarian
            <br />
            <input asp-for="Paleo" value="True"> Paleo
            <br />
            <input asp-for="Primal" value="True"> Primal
            <br />
            <input asp-for="Whole30" value="True"> Whole30
            <br />

            <h4>Do you have any of these food intolerances?</h4>

            <input asp-for="Dairy" value="True"> Dairy
            <br />
            <input asp-for="Egg" value="True"> Egg
            <br />
            <input asp-for="Gluten" value="True"> Gluten
            <br />
            <input asp-for="Grain" value="True"> Grain
            <br />
            <input asp-for="Peanut" value="True"> Peanut
            <br />
            <input asp-for="Seafood" value="True"> Seafood
            <br />
            <input asp-for="Sesame" value="True"> Sesame
            <br />
            <input asp-for="Shellfish" value="True"> Shellfish
            <br />
            <input asp-for="Soy" value="True"> Soy
            <br />
            <input asp-for="Sulfite" value="True"> Sulfite
            <br />
            <input asp-for="TreeNut" value="True"> Tree Nut
            <br />
            <input asp-for="Wheat" value="True"> Wheat
            <br />


            <h4>Are there any other foods you can't or won't eat?</h4>


            <div class="col-auto">
                <input asp-for="ExcludedIngredients" class="form-control" /><br />
            </div>

            <p>List ingredients separated by commas (ex: tomato,mango)</p>

            <button asp-controller="User" asp-action="UpdateUserPreferences" type="submit" class="btn btn-outline-secondary btn-sm">Submit</button>
        </form>
    </div>
</div>