@model AHBCFinalProject.Models.UserPreferencesViewModel

@{
    ViewData["Title"] = "SetUserPreferences";
}

<div class="container">
    <div class="centered">
        <h2>Set your preferences!</h2>

        <form asp-controller="User" asp-action="UpdateUserPreferences">
            <h5>Are you on any of these common diets?</h5>
            <table id="userTable">
                <tr>
                    <td><input asp-for="GlutenFree" value="True"> Gluten Free</td>
                    <td><input asp-for="Ketogenic" value="True"> Ketogenic</td>
                </tr>
                <tr>
                    <td><input asp-for="Vegetarian" value="True"> Vegetarian</td>
                    <td><input asp-for="LactoVegetarian" value="True"> Lacto-Vegetarian</td>
                </tr>
                <tr>
                    <td><input asp-for="OvoVegetarian" value="True"> Ovo-Vegetarian</td>
                    <td><input asp-for="Vegan" value="True"> Vegan</td>
                </tr>
                <tr>
                    <td><input asp-for="Pescetarian" value="True"> Pescetarian</td>
                    <td><input asp-for="Paleo" value="True"> Paleo</td>
                </tr><tr>
                            <td><input asp-for="Primal" value="True"> Primal</td>
                    <td><input asp-for="Whole30" value="True"> Whole30</td>
                </tr>
            </table>
               

            <h5>Do you have any of these food intolerances?</h5>

            <table id="userTable">
                <tr>
                    <td><input asp-for="Dairy" value="True"> Dairy</td>
                    <td><input asp-for="Egg" value="True"> Egg</td>
                </tr>
                <tr>
                    <td><input asp-for="Gluten" value="True"> Gluten</td>
                    <td><input asp-for="Grain" value="True"> Grain</td>
                </tr>
                <tr>
                    <td><input asp-for="Peanut" value="True"> Peanut</td>
                    <td><input asp-for="Seafood" value="True"> Seafood</td>
                </tr>
                <tr>
                    <td><input asp-for="Sesame" value="True"> Sesame</td>
                    <td><input asp-for="Shellfish" value="True"> Shellfish</td>
                </tr>
                <tr>
                    <td><input asp-for="Soy" value="True"> Soy</td>
                    <td><input asp-for="Sulfite" value="True"> Sulfite</td>
                </tr>
                <tr>
                    <td><input asp-for="TreeNut" value="True"> Tree Nut</td>
                    <td><input asp-for="Wheat" value="True"> Wheat</td>
                </tr>
            </table>
               
            <h4>Are there any other foods you can't or won't eat?</h4>


            <div class="col-auto">
                <input asp-for="ExcludedIngredients" class="form-control" /><br />
            </div>

            <p>List ingredients separated by commas (ex: tomato,mango)</p>

            <button asp-controller="User" asp-action="UpdateUserPreferences" type="submit" class="btn btn-outline-secondary btn-sm">Submit</button>
        </form>
    </div>
</div>