@model UserPreferencesViewModel

@{
    ViewData["Title"] = "SetUserPreferences";
}

<h1>Set your preferences!</h1>


<div>
    <h4>What type of diet are you on?</h4>

    <input type="radio" asp-for="GlutenFree" value="Gluten Free"> Gluten Free
    <br />
    <input type="radio" asp-for="Ketogenic" value="Ketogenic"> Ketogenic
    <br />
    <input type="radio" asp-for="Vegetarian" value="Vegetarian"> Vegetarian
    <br />
    <input type="radio" asp-for="LactoVegetarian" value="Lacto-Vegetarian"> Lacto-Vegetarian
    <br />
    <input type="radio" asp-for="OvoVegetarian" value="Ovo-Vegetarian"> Ovo-Vegetarian
    <br />
    <input type="radio" asp-for="Vegan" value="Vegan"> Vegan
    <br />
    <input type="radio" asp-for="Pescetarian" value="Pescetarian"> Pescetarian
    <br />
    <input type="radio" asp-for="Paleo" value="Paleo"> Paleo
    <br />
    <input type="radio" asp-for="Primal" value="Primal"> Primal
    <br />
    <input type="radio" asp-for="Whole30" value="Whole30"> Whole30
    <br />
</div>

<div>
    <h4>Which intolerance would you like to avoid?</h4>

    <input type="radio" asp-for="Dairy" value="Dairy"> Dairy
    <br />
    <input type="radio" asp-for="Egg" value="Egg"> Egg
    <br />
    <input type="radio" asp-for="Gluten" value="Gluten"> Gluten
    <br />
    <input type="radio" asp-for="Grain" value="Grain"> Grain
    <br />
    <input type="radio" asp-for="Peanut" value="Peanut"> Peanut
    <br />
    <input type="radio" asp-for="Seafood" value="Seafood"> Seafood
    <br />
    <input type="radio" asp-for="Sesame" value="Sesame"> Sesame
    <br />
    <input type="radio" asp-for="Shellfish" value="Shellfish"> Shellfish
    <br />
    <input type="radio" asp-for="Soy" value="Soy"> Soy
    <br />
    <input type="radio" asp-for="Sulfite" value="Sulfite"> Sulfite
    <br />
    <input type="radio" asp-for="TreeNut" value="Tree Nut"> Tree Nut
    <br />
    <input type="radio" asp-for="Wheat" value="Wheat"> Wheat
    <br />
</div>