/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    display: flex;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



.container{
    /*position: relative;*/
    position: center;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.preferences-row{
    float: left;
    width: 50%;
}

.row-after{
    content: "";
    display: table;
    clear: both;
}

#LoR_header {
    color: #FFFFFF;
    font-size: 20px;
    background-color: #31d193;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#userTable {
    margin-left: 12.5%;
    width: 75%;
}

.text-left{
    width: 40%;
}





.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /*Margin bottom by footer height*/
    margin-bottom: 60px;
    /*margin-top: 60px;*/
    background-image: url('https://live.staticflickr.com/65535/49224599768_3dcfb61fe4_h.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /*margin: auto;*/
    width: 100%;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here 
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*DropDown menu styles*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.recipe-img {
    float: right;
    padding-right: 5%;
}
.recipe-img img {
    width: 400px;
    padding-right: 5%
}
.recipe-ingredients ul {
    float: left;
}
.recipe-instructions {
    clear: both;
    padding: 5% 10%;
}

.ingredients-header{
    margin-left: -850px;
}
