@model ListOfRecipesViewModel
@{
    ViewData["Title"] = "ViewRecipes";
}

<h1>View All Recipes</h1>

<div>
    <table class="table table-light table-striped table-bordered table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model.ListOfRecipes)
            {
                <tr>
                    <td>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@recipe.Id">@recipe.Title</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>