@model ListOfRecipesViewModel
@{
    ViewData["Title"] = "ViewRecipes";
}

<h1>View All Recipes</h1>


<div>
    <table>
        <thead>
            <tr>
                <th>Title</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model.ListOfRecipes)
            {
                <tr>

                    <td>
                        @recipe.Title 




                    </td>


                </tr>
            }
        </tbody>
    </table>


</div>

