@model ListOfRecipesViewModel
@{
    ViewData["Title"] = "ViewRecipes";
}

<h1>View All Recipes</h1>

<div class="container">
    @*<img src="https://live.staticflickr.com/65535/49224599768_b56ace7661_o.jpg" id="bg" alt="bg_img" style="height: 100%; width: 100%;" />*@
    <div class="centered">
        <table class="table table-bordered table table-hover">
            <thead class="card-header-pills">
                <tr>
                    <th class="font-weight-bold" id="LoR_header">List of Recipes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recipe in Model.ListOfRecipes)
                {
                    <tr>
                        <td>
                            <a asp-controller="Recipe" asp-action="ViewRecipe" class="text-secondary" asp-route-id="@recipe.Id">@recipe.Title</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
</div>